# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\11418034_Faustine Ben Axel Ompusunggu\Kuliah\Semester 6\PA 3\Project\CropSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
